body {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

.result-banner {
    padding: 8px 16px;
    border: 0;
    border-bottom: 1px solid rgba(170, 170, 170, 0.33);
    margin: 0;
}

.filter-bar {
    padding: 8px 16px;
}

.filter-button {
    padding: 4px 16px;
    border: 1px solid rgba(170, 170, 170, 0.33);
    border-radius: 3px;
    margin: auto 8px;
    background: transparent;
    min-width: 90px;
    min-height: 24px;
    outline: none;
}

.container {
    font-family: Arial, sans-serif;
    outline: none;
}

.card-container {
    position: relative;
    overflow: hidden;
    background: #dddddd;
}

.card {
    position: absolute;
    overflow: hidden;
    background: white;
}

.size1x1 {
    width: 250px;
    height: 250px;
}

.size1x2 {
    width: 250px;
    height: 500px;
}

.size2x1 {
    width: 500px;
    height: 250px;
}

.size2x2 {
    width: 500px;
    height: 500px;
}

.size2x3 {
    width: 500px;
    height: 750px;
}

.size3x2 {
    width: 750px;
    height: 500px;
}

.size3x3 {
    width: 750px;
    height: 750px;
}

.card img {
    max-height: 100%;
    max-width: 100%;
    /* Absolute center */
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
