body {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

.result-banner {
    padding: 8px 16px;
    border: 0;
    border-bottom: 1px solid rgba(170, 170, 170, 0.33);
    margin: 0;
}

.filter-bar {
    padding: 8px 16px;
}

.filter-button {
    padding: 4px 16px;
    border: 1px solid rgba(170, 170, 170, 0.33);
    border-radius: 3px;
    margin: auto 8px;
    background: transparent;
    min-width: 90px;
    min-height: 24px;
    outline: none;
}

.container {
    font-family: Arial, sans-serif;
    outline: none;
}

.card-container {
    position: relative;
    overflow: hidden;
    background: #dddddd;
}

.card {
    position: absolute;
    overflow: hidden;
    background: white;
}

.card .image {
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 10;
}

.card .overlay {
    z-index: 20;
    position: absolute;
    width: inherit;
    height: inherit;

    background: linear-gradient(to bottom, rgba(0,0,0,0) 60%,rgba(0,0,0,0.3) 110%);
}

.card .info {
    z-index: 30;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 23px;
    color: white;
}

.card .price {
    margin: auto 5px;
}

.card img {
    max-height: 100%;
    max-width: 100%;
    /* Absolute center */
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
